# <center> **Titanic**

# **Libraries**

In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt


import functions
import importlib

import warnings

importlib.reload(functions)

# **Display Parameters**

## **Display Features**

In [37]:
%matplotlib inline

pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

warnings.filterwarnings("ignore")
warnings.simplefilter(action="ignore", category=FutureWarning)

## **Colors**

In [38]:
color_1 = "bisque"
color_2 = "crimson"
color_3 = "orangered"
color_4 = "lightcoral"
color_5 = "royalblue"
color_6 = "pink"
color_7 = "indianred"
color_8 = "slategrey"
color_9 = "salmon"
color_10 = "beige"
color_11 = "coral"
color_13 = "grey"
color_14 = "tan"
color_15 = "wheat"
color_16 = "tomato"

## **Figure Parameters**

In [39]:
size = 20

params = {
    "font.family": "Times New Roman",
    "font.size": size,
    "axes.labelsize": size,
    "xtick.labelsize": size * 0.75,
    "ytick.labelsize": size * 0.75,
    "figure.titlesize": size * 1.5,
    "axes.titlesize": size * 1.5,
    "axes.titlepad": size,
    "axes.labelpad": size - 10,
    "lines.linewidth": 2,
    "axes.spines.top": False,
    "axes.spines.right": False,
    "axes.spines.left": False,
    "axes.spines.bottom": False,
    "legend.fontsize": size,
    "figure.figsize": (10, 6),
}

# **Data Overview and Preprocessing**

In [40]:
train = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Titanic\Data\Data\train.csv",
    index_col=False
)

test = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Titanic\Data\Data\test.csv",
    index_col=False
)

random_state = 101
target = 'Transported'

## **Missing Data**

### **Train Set Missing Values**

In [41]:
missing_values = functions.MissingValues(train)
missing_values

              NumberMissing  PercentageMissing
HomePlanet              201               2.31
CryoSleep               217               2.50
Cabin                   199               2.29
Destination             182               2.09
Age                     179               2.06
VIP                     203               2.34
RoomService             181               2.08
FoodCourt               183               2.11
ShoppingMall            208               2.39
Spa                     183               2.11
VRDeck                  188               2.16
Name                    200               2.30

### **Test Set Missing Values**

In [42]:
missing_values = functions.MissingValues(test)
missing_values

              NumberMissing  PercentageMissing
HomePlanet               87               2.03
CryoSleep                93               2.17
Cabin                   100               2.34
Destination              92               2.15
Age                      91               2.13
VIP                      93               2.17
RoomService              82               1.92
FoodCourt               106               2.48
ShoppingMall             98               2.29
Spa                     101               2.36
VRDeck                   80               1.87
Name                     94               2.20

# **Information Extraction**

## **PassengerId**

In [43]:
train['Group'] = train['PassengerId'].apply(lambda x: x.split('_')[0]).astype(int)
test['Group'] = test['PassengerId'].apply(lambda x: x.split('_')[0]).astype(int)

In [44]:
column = train.pop('Group')
train.insert(1, 'Group', column)

column = test.pop('Group')
test.insert(1, 'Group', column)

# **Missing Values Deterministic Imputation**

## **Home Planet Missing Values**

In [45]:
num_unique_groups = train['Group'].nunique()
print(num_unique_groups)

6217

In [46]:
unique_homeplanets_per_group = train.groupby('Group')['HomePlanet'].nunique()
groups_with_multiple_planets = unique_homeplanets_per_group[unique_homeplanets_per_group > 1]

print(groups_with_multiple_planets)

Series([], Name: HomePlanet, dtype: int64)

In [47]:
# Step 1: Group by 'Group' and find the most common (or only) HomePlanet
group_homeplanet_map = train.groupby('Group')['HomePlanet'].apply(lambda x: x.mode()[0] if not x.mode().empty else None)

# Step 2: Define a function to fill missing HomePlanet based on the group's identified HomePlanet
def fill_missing_homeplanet(row):
    if pd.isna(row['HomePlanet']):
        return group_homeplanet_map.get(row['Group'], row['HomePlanet'])
    else:
        return row['HomePlanet']

# Step 3: Apply the function to fill missing values in the HomePlanet column
train['HomePlanet'] = train.apply(fill_missing_homeplanet, axis=1)

In [48]:
# Step 1: Group by 'Group' and find the most common (or only) HomePlanet
group_homeplanet_map = test.groupby('Group')['HomePlanet'].apply(lambda x: x.mode()[0] if not x.mode().empty else None)

# Step 2: Define a function to fill missing HomePlanet based on the group's identified HomePlanet
def fill_missing_homeplanet(row):
    if pd.isna(row['HomePlanet']):
        return group_homeplanet_map.get(row['Group'], row['HomePlanet'])
    else:
        return row['HomePlanet']

# Step 3: Apply the function to fill missing values in the HomePlanet column
test['HomePlanet'] = test.apply(fill_missing_homeplanet, axis=1)

In [49]:
missing_values = functions.MissingValues(train)
missing_values

              NumberMissing  PercentageMissing
HomePlanet              111               1.28
CryoSleep               217               2.50
Cabin                   199               2.29
Destination             182               2.09
Age                     179               2.06
VIP                     203               2.34
RoomService             181               2.08
FoodCourt               183               2.11
ShoppingMall            208               2.39
Spa                     183               2.11
VRDeck                  188               2.16
Name                    200               2.30

In [50]:
missing_values = functions.MissingValues(test)
missing_values

              NumberMissing  PercentageMissing
HomePlanet               46               1.08
CryoSleep                93               2.17
Cabin                   100               2.34
Destination              92               2.15
Age                      91               2.13
VIP                      93               2.17
RoomService              82               1.92
FoodCourt               106               2.48
ShoppingMall             98               2.29
Spa                     101               2.36
VRDeck                   80               1.87
Name                     94               2.20

In [51]:
homeplanet_mode = train['HomePlanet'].mode()[0]
print(homeplanet_mode)

Earth

In [52]:
train['HomePlanet'].fillna(train['HomePlanet'].mode()[0], inplace=True)
test['HomePlanet'].fillna(train['HomePlanet'].mode()[0], inplace=True)

In [53]:
missing_values = functions.MissingValues(train)
missing_values

              NumberMissing  PercentageMissing
CryoSleep               217               2.50
Cabin                   199               2.29
Destination             182               2.09
Age                     179               2.06
VIP                     203               2.34
RoomService             181               2.08
FoodCourt               183               2.11
ShoppingMall            208               2.39
Spa                     183               2.11
VRDeck                  188               2.16
Name                    200               2.30

In [54]:
missing_values = functions.MissingValues(test)
missing_values

              NumberMissing  PercentageMissing
CryoSleep                93               2.17
Cabin                   100               2.34
Destination              92               2.15
Age                      91               2.13
VIP                      93               2.17
RoomService              82               1.92
FoodCourt               106               2.48
ShoppingMall             98               2.29
Spa                     101               2.36
VRDeck                   80               1.87
Name                     94               2.20