# **Libraries**

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt


import functions
import importlib

import warnings

importlib.reload(functions)

# **Data Overview and Preprocessing**

In [3]:
train = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Titanic\Data\Data\train.csv",
    index_col=False
)

test = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Titanic\Data\Data\test.csv",
    index_col=False
)

random_state = 101
target = 'Transported'

## **Missing Data**

### **Train Set Missing Values**

In [4]:
missing_values = functions.MissingValues(train)
missing_values

              NumberMissing  PercentageMissing
HomePlanet              201               2.31
CryoSleep               217               2.50
Cabin                   199               2.29
Destination             182               2.09
Age                     179               2.06
VIP                     203               2.34
RoomService             181               2.08
FoodCourt               183               2.11
ShoppingMall            208               2.39
Spa                     183               2.11
VRDeck                  188               2.16
Name                    200               2.30

### **Test Set Missing Values**

In [5]:
missing_values = functions.MissingValues(test)
missing_values

              NumberMissing  PercentageMissing
HomePlanet               87               2.03
CryoSleep                93               2.17
Cabin                   100               2.34
Destination              92               2.15
Age                      91               2.13
VIP                      93               2.17
RoomService              82               1.92
FoodCourt               106               2.48
ShoppingMall             98               2.29
Spa                     101               2.36
VRDeck                   80               1.87
Name                     94               2.20

## **Fill Missing Values of Luxury Items with 0**

In [6]:
columns = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

train[columns] = train[columns].fillna(0)
test[columns] = test[columns].fillna(0)

### **Train Set Missing Values**

In [7]:
missing_values = functions.MissingValues(train)
missing_values

             NumberMissing  PercentageMissing
HomePlanet             201               2.31
CryoSleep              217               2.50
Cabin                  199               2.29
Destination            182               2.09
Age                    179               2.06
VIP                    203               2.34
Name                   200               2.30

### **Test Set Missing Values**

In [8]:
missing_values = functions.MissingValues(test)
missing_values

             NumberMissing  PercentageMissing
HomePlanet              87               2.03
CryoSleep               93               2.17
Cabin                  100               2.34
Destination             92               2.15
Age                     91               2.13
VIP                     93               2.17
Name                    94               2.20

## **Amount Spent**

In [11]:
train['AmountSpent'] = train[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].fillna(0).sum(axis=1)
test['AmountSpent'] = test[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].fillna(0).sum(axis=1)

## **Spent**

In [12]:
train['Spent'] = train['AmountSpent'].apply(lambda x: 1 if x > 0 else 0)
test['Spent'] = test['AmountSpent'].apply(lambda x: 1 if x > 0 else 0)

### **Train Set Missing Values**

In [15]:
missing_values = functions.MissingValues(train)
missing_values

             NumberMissing  PercentageMissing
HomePlanet             201               2.31
CryoSleep              217               2.50
Cabin                  199               2.29
Destination            182               2.09
Age                    179               2.06
VIP                    203               2.34
Name                   200               2.30

### **Test Set Missing Values**

In [16]:
missing_values = functions.MissingValues(test)
missing_values

             NumberMissing  PercentageMissing
HomePlanet              87               2.03
CryoSleep               93               2.17
Cabin                  100               2.34
Destination             92               2.15
Age                     91               2.13
VIP                     93               2.17
Name                    94               2.20