# <center> **Titanic**

# **Libraries**

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt


import functions
import importlib

from sklearn.preprocessing import LabelEncoder

import warnings


importlib.reload(functions)

# **Data Overview and Preprocessing**

In [13]:
cleandata = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Titanic\Data\cleandata.csv",
    index_col=False
)

train = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Titanic\Data\Data\train.csv",
    index_col=False
)

test = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Titanic\Data\Data\test.csv",
    index_col=False
)


random_state = 101
target = 'Transported'

# **Split Data Back to Train and Test**

In [9]:
# Train and test
train=cleandata[cleandata['PassengerId'].isin(train['PassengerId'].values)].copy()
test=cleandata[cleandata['PassengerId'].isin(test['PassengerId'].values)].copy()

In [11]:
test.head()

,PassengerId,Group,GroupSize,Solo,HomePlanet,CabinDeck,CabinNumber,CabinSide,CryoSleep,Destination,...,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpent,Spent,LastName,FamilySize,LoneTraveler
8693,0013_01,13,1,1,Earth,G,3.0,S,True,TRAPPIST-1e,...,0.0,0.0,0.0,0.0,0.0,0.0,0,Carsoning,8,0
8694,0018_01,18,1,1,Earth,F,4.0,S,False,TRAPPIST-1e,...,0.0,9.0,0.0,2823.0,0.0,2832.0,1,Peckers,4,0
8695,0019_01,19,1,1,Europa,C,0.0,S,True,55 Cancri e,...,0.0,0.0,0.0,0.0,0.0,0.0,0,Unhearfus,6,0
8696,0021_01,21,1,1,Europa,C,1.0,S,False,TRAPPIST-1e,...,0.0,6652.0,0.0,181.0,585.0,7418.0,1,Caltilter,2,0
8697,0023_01,23,1,1,Earth,F,5.0,S,False,TRAPPIST-1e,...,10.0,0.0,635.0,0.0,0.0,645.0,1,Harperez,5,0

In [12]:
train.head()

,PassengerId,Group,GroupSize,Solo,HomePlanet,CabinDeck,CabinNumber,CabinSide,CryoSleep,Destination,...,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpent,Spent,LastName,FamilySize,LoneTraveler
0,0001_01,1,1,1,Europa,B,0.0,P,False,TRAPPIST-1e,...,0.0,0.0,0.0,0.0,0.0,0.0,0,Ofracculy,3,0
1,0002_01,2,1,1,Earth,F,0.0,S,False,TRAPPIST-1e,...,109.0,9.0,25.0,549.0,44.0,736.0,1,Vines,4,0
2,0003_01,3,2,0,Europa,A,0.0,S,False,TRAPPIST-1e,...,43.0,3576.0,0.0,6715.0,49.0,10383.0,1,Susent,7,0
3,0003_02,3,2,0,Europa,A,0.0,S,False,TRAPPIST-1e,...,0.0,1283.0,371.0,3329.0,193.0,5176.0,1,Susent,7,0
4,0004_01,4,1,1,Earth,F,1.0,S,False,TRAPPIST-1e,...,303.0,70.0,151.0,565.0,2.0,1091.0,1,Santantines,9,0