# <center> **Titanic**

# **Libraries**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt


import functions
import importlib

import warnings

importlib.reload(functions)

# **Display Parameters**

## **Display Features**

In [2]:
%matplotlib inline

pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

warnings.filterwarnings("ignore")
warnings.simplefilter(action="ignore", category=FutureWarning)

## **Colors**

In [3]:
color_1 = "bisque"
color_2 = "crimson"
color_3 = "orangered"
color_4 = "lightcoral"
color_5 = "royalblue"
color_6 = "pink"
color_7 = "indianred"
color_8 = "slategrey"
color_9 = "salmon"
color_10 = "beige"
color_11 = "coral"
color_13 = "grey"
color_14 = "tan"
color_15 = "wheat"
color_16 = "tomato"

## **Figure Parameters**

In [4]:
size = 20

params = {
    "font.family": "Times New Roman",
    "font.size": size,
    "axes.labelsize": size,
    "xtick.labelsize": size * 0.75,
    "ytick.labelsize": size * 0.75,
    "figure.titlesize": size * 1.5,
    "axes.titlesize": size * 1.5,
    "axes.titlepad": size,
    "axes.labelpad": size - 10,
    "lines.linewidth": 2,
    "axes.spines.top": False,
    "axes.spines.right": False,
    "axes.spines.left": False,
    "axes.spines.bottom": False,
    "legend.fontsize": size,
    "figure.figsize": (10, 6),
}

# **Data Overview and Preprocessing**

In [5]:
train = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Titanic\Data\Data\train.csv",
    index_col=False
)

test = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Titanic\Data\Data\test.csv",
    index_col=False
)

random_state = 101
target = 'Transported'

## **Missing Data**

### **Train Set Missing Values**

In [6]:
missing_values = functions.MissingValues(train)
missing_values

              NumberMissing  PercentageMissing
HomePlanet              201               2.31
CryoSleep               217               2.50
Cabin                   199               2.29
Destination             182               2.09
Age                     179               2.06
VIP                     203               2.34
RoomService             181               2.08
FoodCourt               183               2.11
ShoppingMall            208               2.39
Spa                     183               2.11
VRDeck                  188               2.16
Name                    200               2.30

### **Test Set Missing Values**

In [7]:
missing_values = functions.MissingValues(test)
missing_values

              NumberMissing  PercentageMissing
HomePlanet               87               2.03
CryoSleep                93               2.17
Cabin                   100               2.34
Destination              92               2.15
Age                      91               2.13
VIP                      93               2.17
RoomService              82               1.92
FoodCourt               106               2.48
ShoppingMall             98               2.29
Spa                     101               2.36
VRDeck                   80               1.87
Name                     94               2.20

# **Information Extraction**

## **PassengerId**

In [8]:
train['Group'] = train['PassengerId'].apply(lambda x: x.split('_')[0]).astype(int)
test['Group'] = test['PassengerId'].apply(lambda x: x.split('_')[0]).astype(int)

In [9]:
train['GroupSize']=train['Group'].map(lambda x: pd.concat([train['Group'], test['Group']]).value_counts()[x])
test['GroupSize']=test['Group'].map(lambda x: pd.concat([train['Group'], test['Group']]).value_counts()[x])

In [10]:
column = train.pop('Group')
train.insert(1, 'Group', column)

column = test.pop('Group')
test.insert(1, 'Group', column)

column = train.pop('GroupSize') 
train.insert(2, 'GroupSize', column)    

column = test.pop('GroupSize')  
test.insert(2, 'GroupSize', column)

## **Lone Traveler**

In [11]:
train['LoneTraveler'] = train['GroupSize'].apply(lambda x: 1 if x == 1 else 0)
test['LoneTraveler'] = test['GroupSize'].apply(lambda x: 1 if x == 1 else 0)

In [12]:
column = train.pop('LoneTraveler')
train.insert(3, 'LoneTraveler', column)

column = test.pop('LoneTraveler')
test.insert(3, 'LoneTraveler', column)

## **Cabin**

In [13]:
train[['CabinDeck', 'CabinNumber', 'CabinSide']] = train['Cabin'].str.split('/', expand=True)
test[['CabinDeck', 'CabinNumber', 'CabinSide']] = test['Cabin'].str.split('/', expand=True)

In [14]:
column = train.pop('CabinDeck')
train.insert(5, 'CabinDeck', column)
column = test.pop('CabinDeck')
test.insert(5, 'CabinDeck', column)

column = train.pop('CabinNumber') 
train.insert(6, 'CabinNumber', column)  
column = test.pop('CabinNumber') 
test.insert(6, 'CabinNumber', column)    

column = test.pop('CabinSide')  
test.insert(7, 'CabinSide', column)
column = train.pop('CabinSide') 
train.insert(7, 'CabinSide', column)    

train.drop('Cabin', axis=1, inplace=True)
test.drop('Cabin', axis=1, inplace=True)

In [15]:
train.head()

,PassengerId,Group,GroupSize,LoneTraveler,HomePlanet,CabinDeck,CabinNumber,CabinSide,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,1,1,1,Europa,B,0,P,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,2,1,1,Earth,F,0,S,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,3,2,0,Europa,A,0,S,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,3,2,0,Europa,A,0,S,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,4,1,1,Earth,F,1,S,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

## **Name**

In [16]:
train[['FirstName', 'LastName']] = train['Name'].str.split(' ', expand=True)
test[['FirstName', 'LastName']] = test['Name'].str.split(' ', expand=True)

In [17]:
train.drop('Name', axis=1, inplace=True)
test.drop('Name', axis=1, inplace=True)

## **Amount Spent**

In [18]:
train['AmountSpent'] = train[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].fillna(0).sum(axis=1)
test['AmountSpent'] = test[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].fillna(0).sum(axis=1)

In [19]:
column = train.pop('AmountSpent')
train.insert(17, 'AmountSpent', column)

column = test.pop('AmountSpent')
test.insert(17, 'AmountSpent', column)

## **Spent**

In [20]:
train['Spent'] = train['AmountSpent'].apply(lambda x: 1 if x > 0 else 0)
test['Spent'] = test['AmountSpent'].apply(lambda x: 1 if x > 0 else 0)

In [21]:
column = train.pop('Spent')
train.insert(18, 'Spent', column)

column = test.pop('Spent')
test.insert(18, 'Spent', column)

## **Age Groups**

In [22]:
train['AgeGroup']=np.nan
train.loc[train['Age']<=10,'AgeGroup']='0-10'
train.loc[(train['Age']>10) & (train['Age']<=20),'AgeGroup']='11-20'
train.loc[(train['Age']>20) & (train['Age']<=30),'AgeGroup']='21-30'
train.loc[(train['Age']>30) & (train['Age']<=40),'AgeGroup']='31-40'
train.loc[(train['Age']>40) & (train['Age']<=50),'AgeGroup']='41-50'
train.loc[(train['Age']>50) & (train['Age']<=60),'AgeGroup']='51-60'
train.loc[(train['Age']>60) & (train['Age']<=70),'AgeGroup']='61-70'
train.loc[(train['Age']>70) & (train['Age']<=80),'AgeGroup']='71-80'

# New features - test set
test['AgeGroup']=np.nan
test.loc[test['Age']<=10,'AgeGroup']='0-10'
test.loc[(test['Age']>10) & (test['Age']<=20),'AgeGroup']='11-20'
test.loc[(test['Age']>20) & (test['Age']<=30),'AgeGroup']='21-30'
test.loc[(test['Age']>30) & (test['Age']<=40),'AgeGroup']='31-40'
test.loc[(test['Age']>40) & (test['Age']<=50),'AgeGroup']='41-50'
test.loc[(test['Age']>50) & (test['Age']<=60),'AgeGroup']='51-60'
test.loc[(test['Age']>60) & (test['Age']<=70),'AgeGroup']='61-70'
test.loc[(test['Age']>70) & (test['Age']<=80),'AgeGroup']='71-80'

In [23]:
column = train.pop('AgeGroup')
train.insert(11, 'AgeGroup', column)

column = test.pop('AgeGroup')
test.insert(11, 'AgeGroup', column)

## **Family Size**

In [24]:
train['LastName'].fillna('Unknown', inplace=True)
test['LastName'].fillna('Unknown', inplace=True)

train['FamilySize']=train['LastName'].map(lambda x: pd.concat([train['LastName'],test['LastName']]).value_counts()[x])
test['FamilySize']=test['LastName'].map(lambda x: pd.concat([train['LastName'],test['LastName']]).value_counts()[x])

column = train.pop('FamilySize')
train.insert(3, 'FamilySize', column)

column = test.pop('FamilySize')
test.insert(3, 'FamilySize', column)

# **Cabin Side Missing Values**

In [25]:
SCS_gb=train[train['GroupSize']>1].groupby(['LastName','CabinSide'])['CabinSide'].size().unstack().fillna(0)

In [26]:
# Ratio of sides
SCS_gb['Ratio']=SCS_gb['P']/(SCS_gb['P']+SCS_gb['S'])

# Print proportion
print('Percentage of families all on the same cabin side:', 100*np.round((SCS_gb['Ratio'].isin([0,1])).sum()/len(SCS_gb),3),'%')

# Another view of the same information
SCS_gb.head()

Percentage of families all on the same cabin side: 83.5 %

CabinSide     P    S     Ratio
LastName
Acobson     0.0  3.0  0.000000
Adavisons   6.0  0.0  1.000000
Admingried  0.0  4.0  0.000000
Ailled      0.0  2.0  0.000000
Ainatint    2.0  1.0  0.666667

# **Train Data**

In [29]:
# Missing values before
CS_bef=train['CabinSide'].isna().sum()

# Drop ratio column
SCS_gb.drop('Ratio', axis=1, inplace=True)

# Passengers with missing Cabin side and in a family with known Cabin side
SCS_index=train[train['CabinSide'].isna()][(train[train['CabinSide'].isna()]['LastName']).isin(SCS_gb.index)].index

# Fill corresponding missing values
train.loc[SCS_index,'CabinSide']=train.iloc[SCS_index,:]['LastName'].map(lambda x: SCS_gb.idxmax(axis=1)[x])

In [30]:
missing_values = functions.MissingValues(train)
missing_values

              NumberMissing  PercentageMissing
HomePlanet              201               2.31
CabinDeck               199               2.29
CabinNumber             199               2.29
CabinSide                55               0.63
CryoSleep               217               2.50
Destination             182               2.09
Age                     179               2.06
AgeGroup                179               2.06
VIP                     203               2.34
RoomService             181               2.08
FoodCourt               183               2.11
ShoppingMall            208               2.39
Spa                     183               2.11
VRDeck                  188               2.16
FirstName               200               2.30

In [31]:
# Missing values before
CS_bef=train['CabinSide'].isna().sum()

# Fill remaining missing values with outlier
train.loc[train['CabinSide'].isna(),'CabinSide']='U'

# Print number of missing values left
print('#Cabin_side missing values before:',CS_bef)
print('#Cabin_side missing values after:',train['CabinSide'].isna().sum())

#Cabin_side missing values before: 55
#Cabin_side missing values after: 0

# **Test Data**

In [33]:
SCS_gb=test[test['GroupSize']>1].groupby(['LastName','CabinSide'])['CabinSide'].size().unstack().fillna(0)

In [34]:
# Ratio of sides
SCS_gb['Ratio']=SCS_gb['P']/(SCS_gb['P']+SCS_gb['S'])

# Print proportion
print('Percentage of families all on the same cabin side:', 100*np.round((SCS_gb['Ratio'].isin([0,1])).sum()/len(SCS_gb),3),'%')

# Another view of the same information
SCS_gb.head()

Percentage of families all on the same cabin side: 90.8 %

CabinSide    P    S  Ratio
LastName
Acobsond   3.0  0.0    1.0
Aginge     3.0  0.0    1.0
Aillyber   3.0  0.0    1.0
Aindlylid  0.0  1.0    0.0
Airdring   0.0  2.0    0.0

In [35]:
# Missing values before
CS_bef=test['CabinSide'].isna().sum()

# Drop ratio column
SCS_gb.drop('Ratio', axis=1, inplace=True)

# Passengers with missing Cabin side and in a family with known Cabin side
SCS_index=test[test['CabinSide'].isna()][(test[test['CabinSide'].isna()]['LastName']).isin(SCS_gb.index)].index

# Fill corresponding missing values
test.loc[SCS_index,'CabinSide']=test.iloc[SCS_index,:]['LastName'].map(lambda x: SCS_gb.idxmax(axis=1)[x])

In [36]:
missing_values = functions.MissingValues(test)
missing_values

              NumberMissing  PercentageMissing
HomePlanet               87               2.03
CabinDeck               100               2.34
CabinNumber             100               2.34
CabinSide                45               1.05
CryoSleep                93               2.17
Destination              92               2.15
Age                      91               2.13
AgeGroup                 91               2.13
VIP                      93               2.17
RoomService              82               1.92
FoodCourt               106               2.48
ShoppingMall             98               2.29
Spa                     101               2.36
VRDeck                   80               1.87
FirstName                94               2.20

In [37]:
# Missing values before
CS_bef=test['CabinSide'].isna().sum()

# Fill remaining missing values with outlier
test.loc[test['CabinSide'].isna(),'CabinSide']='U'

# Print number of missing values left
print('#Cabin_side missing values before:',CS_bef)
print('#Cabin_side missing values after:',test['CabinSide'].isna().sum())

#Cabin_side missing values before: 45
#Cabin_side missing values after: 0